<!DOCTYPE html>
<html>
<head>
  <title>Conference Management</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-top navbar-fixed-top">
    <div class="container-fluid">
      <div class="container">
        <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="/">Conference Management System</a>
   </div>
   <div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Conference Room <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "List", conference_rooms_path %></li>
        <li><%= link_to "New", new_conference_room_path %></li>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Holidays <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "List", holidays_path %></li>
        <li><%= link_to "New", new_holiday_path %></li>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav">
    <li><%= link_to "Search", '/searchPage' %></li>
  </ul>
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bookings <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "List", bookings_path %></li>
        <li><%= link_to "New", new_booking_path %></li>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
    <li><%= link_to "Edit profile", edit_user_registration_path %></li>
  <% else %>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
    <li><%= link_to "Login", new_user_session_path %></li>
  <% end %>
  <% if user_signed_in? %>
    <li role="separator" class="divider"></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  <% end %>
</ul>
</div>
      </div>
    </div>
  </nav>
  <div id="main-container" class="container">
    <%= yield %>
  </div>
</body>
</html>
